:root {
    --bordercolor: black
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#calc-form {
    max-width: 400px;
    border: 2px solid;
    margin: 30px auto;
    padding: 20px;
    min-height: 500px;
    max-height: 500px;
}

#calc-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.divNum {
    background: "white";
    border: 1px solid var(--bordercolor);
}

.jsInputNum {
    padding: 20px;
    border: 2px black solid;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.numbers {
    grid-row: 2;
    grid-column: 1 / span 4;
}

.resultScreen {
    min-height: 80px;
    padding: 0px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 29px;
    text-align: right;
}